# EditorConfig is awesome: EditorConfig.org

root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

# jQuery Style Guide - contribute.jquery.org/style-guide/js/
[*.js]
indent_style = space
indent_size = 4
insert_final_newline = true

# CoffeeScript - github.com/polarmobile/coffeescript-style-guide
[*.coffee]
indent_style = space
indent_size = 2
insert_final_newline = true

# Generic Style
[*.css, *.scss, *.less, *.styl]
indent_style = tabs
indent_size = 2
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 2

[{.jshintrc,.travis.yml}]
indent_style = space
indent_size = 2