*.bat
*.sublime-project
*.sublime-workspace
*.rb
*~
*.csv
*.swp
*.egg-info
*.sqlite
*.pyc


.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

.pydevproject/
.project/
.idea/
.vagrant/
.sass-cache/
.coverage
.harvest
node_modules/
--time/

npm-debug.txt
npm-debug.log
Vagrantfile
Cheffile
nosetests.xml
lettucetests.xml
coverage.xml
ghostdriver.log
pep8.report
